*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.logo{
    display: flex;
    align-items: center;
justify-content: center;    
    
}
.logo img{
    width: 40px;
    border: solid 2px rgb(36, 214, 238);
    border-radius: 50px;

}.navlist{
    width: 50%;
    display: flex;
    align-items: center;
   
}
.navlist li{
    list-style: none;
    padding: 15px ;

}
.navlist li a{
    text-decoration: none;
    color: rgb(4, 255, 130);
}
.navlist li a:hover{
    text-decoration: none;
    color: rgb(177, 31, 221);
}
.search{
 width: 50%;
text-align: right;
padding: 20px 20px;
}
#search{
    font-size: 18px;
border: 3px black;
border-radius: 30px;
}
.banner{
    background: rgba(0,0, 0, 0.7 )url(../Images/wallpaper-hd-laptop.jpg);
    background-size: cover;
    background-blend-mode: darken;      
}
#login,#sign{
    text-decoration: none;
    margin: 5px;
}
#login{
    color: antiquewhite;
}
#sign{
    color: yellow;
}
.scourses{
    height: 100vh;
    margin: auto;
}
.sample{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 300px 0px 30px;
}
.btn{
    text-align: center;
    justify-content: center;
    margin: auto; 
    border: 5px white;
   
}
#btn{
    border-radius: 50px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bolder;
    font-size: 20px;
    margin:7px 0px;
    padding: 8px 30px;
    cursor: pointer;
    background: none;
    color: aliceblue;
}
.p-a{
    color: aqua;
    font-size: 50px;
}
.p-b{
    color: white;
    font-size: 20px;
}
.webtut{
    text-align: center;
    margin: 20px; 
    background: none;
    padding: 30px;
}

.webtut a input{
 font-size: 30px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 background-color: rgb(4, 173, 32);
 color: white;
 padding: 10px 30px;
 border-radius: 50px;
}
#courses{
    text-align: center;
    color: red;
    margin-top: 40px;
    margin-bottom: 40px;
    align-content: center;
    font-size: 40px;
}
.courses,.courses2{
    display: flex;
    column-gap: 30px;
    justify-content: center;
   

}
.vs{
    display: flex;
    flex-direction: column;
}
.vp{
    height: 300px;
    width: 500px;
    border: 6px solid green;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 42px;
    background: rgba(0,0, 0, 0.7 )url(../Images/Untitled.png);
    background-size: cover;
} 
.tuth{
    color: white;
    text-align: center;
    padding: 13px;
    font-size: 40px;
}
.tutp,.vp ul li{
 color: white;
 font-size: 18px;
 font-family: bold;
}

